h1 {
  text-align: center;
  /*font-family: "Comic Sans MS", cursive, sans-serif;*/
  font-family: Tahoma, Geneva, sans-serif;
  color: Grey;
}

p {
  text-align: center;
  font-family: Arial, serif, sans-serif;
}


nav a{
  text-decoration: none;
  color: Black;
  padding: 10%;
  left: 0;
  top: 0;
}